html {
  height: 100%;
}

html,
body {
  margin: 0;
  background-image: linear-gradient(
    to bottom,
    #12358f,
    #0056a5,
    #0072ac,
    #008ba8,
    #14a2a2
  );
  color: white;
  font-family: 'Poppins', sans-serif;
}

table {
  margin: auto;
  min-width: 63%;
  border-collapse: collapse;
}

tr {
  height: 20px;
  border-bottom: 1px solid #12358f;
}

td,
th {
  padding: 0 15px;
}

.container {
  display: flex;
  flex-direction: column;
}

.employee-table {
  justify-self: center;
}

.page-title {
  font-family: 'Lobster', sans-serif;
  align-self: center;
  font-size: 60px;
}

.check-employee {
  text-align: center;
}

.employee-name-job,
.employee-nickname {
  text-align: left;
}

.employee-name {
  margin-bottom: 0;
}

.employee-job {
  font-size: 13px;
  margin-top: 2px;
}

.employee-age {
  text-align: right;
}

.add-button {
  height: 47px;
  width: 125px;
  border: none;
  margin: 25px 5px 10px 0;
  padding: 0;
  border-radius: 10px;
  background-color: #33cfc0;
  cursor: pointer;
  font-size: 22px;
  color: white;
  align-self: center;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.graph-button {
  height: 47px;
  width: 125px;
  border: none;
  margin: 25px 5px 35px 0;
  padding: 0;
  border-radius: 10px;
  background-color: #0984c3;
  cursor: pointer;
  font-size: 22px;
  color: white;
  align-self: center;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ok-button {
  width: 80px;
  height: 47px;
  border: none;
  margin: 25px 5px 35px 0;
  padding: 0;
  border-radius: 10px;
  background-color: #33cfc0;
  cursor: pointer;
  font-size: 18px;
  color: white;
  align-self: center;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 25px;
  left: 200px;
}

.delete-modal {
  position: relative;
  left: 216px;
  bottom: 25px;
}

.delete {
  align-self: flex-end;
  background-color: tomato;
  color: white;
  width: 80px;
  height: 47px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  align-self: center;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  padding: 25px 10px 0 10px;
  position: fixed;
  color: black;
  background: white;
  width: 400px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  position: relative;
}

label {
  display: block;
  margin: 20px;
  font-size: 16px;
}

.text-input {
  margin-left: 25px;
  width: 230px;
  height: 24px;
  float: right;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.input-checkbox {
  height: 20px;
  width: 100px;
  margin-left: 7px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.textbox-title,
.textbox {
  display: block;
}

.textbox-title {
  margin: 52px 0 15px 16.5%;
}

.textbox {
  margin: 0 auto 52px auto;
  width: 66%;
  height: 300px;
  font-size: 18px;
}

.graph-container {
  box-sizing: border-box;
  padding: 10px;
  width: auto;
  height: auto;
  align-self: center;
}

.graph-visible {
  display: block;
}

.graph-hide {
  display: none;
}
