html {
  height: 100%;
}

html,
body {
  margin: 0;
  background-image: linear-gradient(
    to bottom,
    #12358f,
    #0056a5,
    #0072ac,
    #008ba8,
    #14a2a2
  );
  color: white;
  font-family: 'Poppins', sans-serif;
}

.delete {
  align-self: flex-end;
  background-color: tomato;
  color: white;
  width: 80px;
  height: 47px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  align-self: center;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
}
