html {
  height: 100%;
}

html,
body {
  margin: 0;
  background-image: linear-gradient(
    to bottom,
    #12358f,
    #0056a5,
    #0072ac,
    #008ba8,
    #14a2a2
  );
  color: white;
  font-family: 'Poppins', sans-serif;
}

table {
  margin: auto;
  min-width: 63%;
  border-collapse: collapse;
}

tr {
  height: 20px;
  border-bottom: 1px solid #12358f;
}

td,
th {
  padding: 0 15px;
}

.container {
  display: flex;
  flex-direction: column;
}

.employee-table {
  justify-self: center;
}

.page-title {
  font-family: 'Lobster', sans-serif;
  align-self: center;
  font-size: 60px;
}

.check-employee {
  text-align: center;
}

.employee-name-job,
.employee-nickname {
  text-align: left;
}

.employee-name {
  margin-bottom: 0;
}

.employee-job {
  font-size: 13px;
  margin-top: 2px;
}

.employee-age {
  text-align: right;
}

.add-button {
  height: 47px;
  width: 125px;
  border: none;
  margin: 25px 5px 35px 0;
  padding: 0;
  border-radius: 10px;
  background-color: #33cfc0;
  cursor: pointer;
  font-size: 22px;
  color: white;
  align-self: center;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
}

.delete {
  align-self: flex-end;
  background-color: tomato;
  color: white;
  width: 80px;
  height: 47px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  align-self: center;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
